.contacts-view {
    margin: 0;
    padding: 0;
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.share-text {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
    margin-top: 10px;
    display: block;
}

.social-buttons {
    display: flex;
    justify-content: center;
}

.social-button {
    margin-right: 10px;
    margin-bottom: 10px;
    /* Adjust the spacing between social buttons */
    transition: transform 0.3s ease-in-out;
}

.social-button:last-child {
    margin-right: 0;
    /* No margin for the last social button */
}

.social-button:hover {
    transform: scale(1.1);
}

.icon {
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.owner-card {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #ded637;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.owner-image {
    width: 130px;
    /* Adjust the size as needed */
    height: 130px;
    /* Adjust the size as needed */
    border-radius: 5%;
    margin-right: 0px;
}

.owner-info {
    flex-grow: 1;
}

/* Media query for mobile devices */
@media only screen and (max-width: 768px) {
    .owner-card {
        margin-top: 20px;
    }
}