.contacts-view {
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.share-text {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
    display: block;
}

.social-buttons {
    display: flex;
    justify-content: center;
}

.social-button {
    margin-right: 20px;
    /* Adjust the spacing between social buttons */
    transition: transform 0.3s ease-in-out;
}

.social-button:last-child {
    margin-right: 0;
    /* No margin for the last social button */
}

.social-button:hover {
    transform: scale(1.1);
}

.icon {
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.contact-details {
    margin-top: 20px;
    background-color: #ded637; /* Adjust text color for better visibility */
}