.image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  background-color: #343a40;
  padding: inherit;
}

.image-item {
  width: 200px;
  height: 200px;
}

.image-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}